body
  margin: 0

  // Avoid user selection
  // http://caniuse.com/#feat=user-select-none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  font-family: 'Helvetica Neue', Helvetica, sans-serif
  font-size: 18px

.game
  margin-left: auto
  margin-right: auto
  position: relative
  height: 100vh

  display: flex
  flex-direction: column
  justify-content: center

.board-and-graveyard
  margin-left: auto
  margin-right: auto

  .graveyard,
  .chessboard
    float: left
