inset-dark-background()
  background $inset-dark-background-color-start
  background linear-gradient(to bottom, $inset-dark-background-color-start, $inset-dark-background-color-end)
  box-shadow inset 0 0 10px rgba(0, 0, 0, 0.4)

highlight-piece()
  border $square-highlight-width solid green

  &::before
    transform translateY(-($square-highlight-width))
