.piece
  position relative

  &::before
    position: absolute
    display: block
    left: 0
    width: 100%
    cursor: default
    font-size: $piece-size

  &.white.king::before
    content: "♔"

  &.white.queen::before
    content: "♕"

  &.white.rook::before
    content: "♖"

  &.white.bishop::before
    content: "♗"

  &.white.knight::before
    content: "♘"

  &.white.pawn::before
    content: "♙"

  &.black.king::before
    content: "♚"

  &.black.queen::before
    content: "♛"

  &.black.rook::before
    content: "♜"

  &.black.bishop::before
    content: "♝"

  &.black.knight::before
    content: "♞"

  &.black.pawn::before
    content: "♟"
