.status-bar
  position    absolute
  bottom      0
  width       100%
  height      50px
  line-height @height
  border-top  2px solid black
  text-align  left
  font-size   25px

  &.status-bar--white
    background white
    color      black

  &.status-bar--black
    background $status-bar-dark-background
    color      white


.status-bar__clock,
.status-bar__turn,
.status-bar__message
  display       inline-block
  box-sizing    border-box
  width         (100/3)vw
  padding-left  30px
  padding-right 30px

.status-bar__message
  text-align center

.status-bar__turn
  text-align right

.status-bar__clock-icon
  margin-right 10px

