$square-size                 = 8vmin
$piece-size                  = ($square-size * 0.625) // 62,5%
$gutter-thickness            = ($square-size / 2)
$chessboard-border-thickness = ($square-size / 20)
$dimension-size              = (8 * $square-size)
$graveyard-width             = (2 * $square-size)
$graveyard-height            = $dimension-size + (2 * $gutter-thickness) + (2 * $chessboard-border-thickness)
$square-highlight-width      = ($square-size / 20)
