body
  margin: 0

  /* Avoid user selection */
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.game
  margin-left: auto
  margin-right: auto
  position: relative
  height: 100vh

  display: flex
  flex-direction: column
  justify-content: center

.board-and-graveyard
  margin-left: auto
  margin-right: auto

  .graveyard,
  .chessboard
    float: left
